@import "tailwindcss";

@font-face {
  font-family: "Regular";
  src: url("/fonts/regular.otf");
}

@font-face {
  font-family: "Medium";
  src: url("/fonts/medium.otf");
}

@font-face {
  font-family: "SemiBold";
  src: url("/fonts/semibold.otf");
}

@font-face {
  font-family: "Bold";
  src: url("/fonts/bold.otf");
}

* {
  scrollbar-color: var(--color-dark-100) var(--color-black);
}

:root {
  --gradient-color: linear-gradient(
    to bottom right,
    #0894ff 0%,
    #c959dd 34%,
    #ff2e54 68%,
    #ff9004
  );
}

@theme {
  --font-regular: "Regular";
  --font-medium: "Medium";
  --font-semibold: "SemiBold";
  --font-bold: "Bold";
  --color-primary: #0071e3;
  --color-dark-100: #86868b;
  --color-dark-200: #2e2e30;
  --color-light-100: #adb5bd;
}

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #000;
  color: var(--color-dark-100);
  font-family: var(--font-semibold);
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility h3-semibold {
  @apply font-semibold text-xl text-dark-100;
}

@utility base-semibold {
  @apply font-semibold text-base text-dark-100;
}

@utility small-medium {
  @apply font-medium text-xs;
}

@layer components {
 
  #showcase {
    @apply relative;

    .top-overlay {
      @apply fixed top-0 left-0 w-full bg-black z-40;
      height: 1vh;
      opacity: 0;
      visibility: hidden;
    }

    .media {
      @apply relative lg:overflow-hidden;

      video {
        @apply w-full object-cover object-center;
      }

      .mask {
        @apply absolute h-full top-0 lg:-top-20 xl:top-0;

        img {
          @apply h-full scale-150 lg:scale-100;
          transform: matrix(80, 0, 0, 80, 0, 0);
        }

        @media (max-width: 1024px) {
          img {
            transform: matrix(1, 0, 0, 1, 0, 0);
          }
        }
      }
    }

    .content {
      @apply relative z-10 my-5 lg:-mt-40 bg-black font-semibold text-xl text-dark-100 lg:opacity-0;

      .wrapper {
        @apply container mx-auto px-5 pb-20 2xl:px-0 flex flex-col lg:flex-row justify-center gap-20;
      }

      h2 {
        @apply font-semibold text-3xl lg:text-7xl text-white;
      }

      h3 {
        @apply font-semibold text-xl lg:text-5xl text-white;
      }
    }
  }


  footer {
    @apply container mx-auto py-7 max-lg:px-5;

    .info {
      @apply flex-between;

      p {
        @apply text-sm font-medium;

        span {
          @apply text-primary mx-0.5;
        }
      }
    }

    hr {
      @apply my-7 text-[#424245];
    }

    .links {
      @apply flex flex-col lg:flex-row lg:items-center justify-between max-lg:mt-5 gap-5 text-sm;

      ul {
        @apply lg:divide-x flex flex-col lg:flex-row gap-2.5;

        li {
          @apply lg:px-5 cursor-pointer hover:text-primary transition-all duration-300 ease-in-out;
        }
      }
    }
  }
}